@font-face {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/paytone-one-v16-latin-regular.woff2") format("woff2"),
       url("../../fonts/paytone-one-v16-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Pavanam";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/pavanam-v9-latin-regular.woff2") format("woff2"),
       url("../../fonts/pavanam-v9-latin-regular.woff") format("woff");
}