.site-main {
  background-image: url(../../images/wall-papper.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 108px;
}

.main-box {
  width: 994px;
  height: 1800px;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
  transform:translateY(-550px);
}

.marketing__main-wrapper {
  width: 994px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.marketing__img-wrapper {
  width: 842px;
  height: 308px;
  margin-left: auto;
  margin-right: auto;
}

.img--higher {
  position: relative;
  top: -60px;
  right: 40px;
  z-index: 2;
}

.img--second {
  position: absolute;
  right: 111px;
}

.marketing__small-wrapper {
  @include flexStyle(center, space-between);
  width: 572px;
  margin-left: auto;
  margin-right: auto;
}

.marketing__text {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  text-transform: uppercase;
  color: $whiteColor;
}

.marketing__btn {
  padding: 8px 5px 8px 16px;
  background: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
  border-radius: 20px;
  border: none;
}


.marketing__smaller-wrapper {
  @include flexStyle(center, space-between);
  width: 453px;
  margin-left: 67px;
  margin-top: 61px;
}

.marketing__item {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
  color: white;
}

.marketing__smaller-wrapper-btn {
  @include flexStyle(center, flex-start);
  padding: 5px 10px;
  background-color: rgb(196, 196, 196);
  border-radius: 50px;
  border: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 149.8%;
  color: rgb(45, 40, 40);
}

.marketing__costomer {
  @include flexStyle(center, flex-start)
}

.marketing__mini-costomer {
  width: 453px;
  height: 128px;
  margin-left: 67px;
  @include flexStyle(flex-start, space-between);
  background-image: url(../../images/mini-bgimage.png);
}

.marketing__main-div {
  @include flexStyle(center, flex-start);
  margin-top: 14px;
  margin-left: 17px;
}

.main-div-span {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
  color: rgb(45, 40, 40);
}

.main-div-text {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 18px;
  line-height: 149.8%;
  color: rgba(45, 40, 40, 0.7);
}

.mini-div-wrapper {
  margin-top: 19px;
  margin-right: 29px;
}

.mini-div-heading {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 22px;
  line-height: 149.8%;
  color: rgb(45, 40, 40);
}

.mini-div-text {
  margin: 0;
  padding: 0;
  width: 251px;
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 14px;
  line-height: 149.8%;
  color: rgb(45, 40, 40);
}

.marketing__last-img {
  margin-right: 17px;
}

.marketing__last-costomer {
  width: 315px;
  margin-left: 74px;
}

.marketing__last-mini-heading {
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 22px;
  line-height: 149.8%;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.marketing__last-mini-text {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 14px;
  line-height: 149.8%;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.logos {
  width: 842px;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-550px);
}

.logos__wrapper {
  width: 842px;
  margin: 0 auto;
}

.logos__list {
  @include flexStyle(center, space-between);
  @extend %list-no-style 
}